Que palabra desea agregar fuera de :
<p><%=$diccionario[0]%></p>
<p><%=$diccionario[1]%></p>
<p><%=$diccionario[2]%></p>
<p><%=$diccionario[3]%></p>
<p><%=$diccionario[4]%></p>
<form action="/agregar_palabras" name="agregar" method="post">
	<input type="text" name="palabra">
	<input type="submit" name="agregar" value="agregar">

</form>

<form action="/" name="jugar" method="get">
	<input type="submit" name="Jugar" value="Jugar">
</form>
